h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding: 5% 15%;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

i {
  padding: 1%;
}

#title {
  background-color: #ff4c68;
  height: 10%;
}

#features {
  background-color: white;
  padding: 10%;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}

#left {
  padding: 5% 2.5%;
}

#testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 5%;
}

#pricing {
  padding: 5% 20%;
  text-align: center;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 5%;
}

#cta h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  color: white;
}

#footer {
  text-align: center;
  background-color: white;
  padding: 5%;
}

.icon {
  color: #ef8172;
  font-size: 3rem;
  padding: 5% 0%;
}

.icon:hover {
  color: #ff4c68;
}

.rotate30 {
  transform: rotate(25deg);
  position: absolute;
  width: 60%;
  top: 10%;
}

.navbar-brand {
  font-size: 3rem;
}

.nav-item {
  font-size: 1.5rem;
  padding: 0% 5%;
}

.btn {
  margin: 5% 2%;
}

.container-fluid {
  padding: 3% 15%;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 2%;
}

.news-pics {
  padding: 2%;
}

.price-card {
  padding: 3% 1%;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .rotate30 {
    position: static;
    transform: rotate(0);
  }
}
